:root {
  --font-main: 'Recursive', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 2rem;
  color: #222;
  background-color: #fdfdfd;
}

main {
  max-width: 800px;
  margin: auto;
}

h2 {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-top: 2rem;
}

code {
  font-family: monospace;
  font-size: 1rem;
}

.alert {
    display: flex;
    padding: 1rem;
    margin: 1.5rem 0;
    border-radius: 4px;
}

.title h2 {
  font-family: 'Barlow Condensed', sans-serif;
  color: #2c3e50;
  font-size: 2.5rem;
  font-weight: 600;
  transform: scaleY(1.15);
}

.alert h2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: #d9534f;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
  padding: 2.8rem 3rem;
  font-family: 'Recursive', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 50%;
  border: 2px dashed white;
  box-sizing: border-box;
}



.alert p {
    padding-left: 1rem;
}

.alert span {
    text-transform: uppercase;
}

.tip-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.tip-list li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}

.tip-list li::before {
  content: "➤";
  position: absolute;
  left: 0;
  font-weight: bold;
}

strong {
  color: #333;
}
